# macOS
.DS_Store

# VS Code
.vscode
**/launch.json

# env
.env

# config
**/config.json

# node
**/node_modules

# nginx
**/private.key
**/certificate.crt

# Plan.md
Plan.md

# test
**/test.js
**/test.ejs