<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- favicon -->
        <link rel="icon"
              href="https://s3.amazonaws.com/www.miniroom.online/images/favicon.ico"
              type="image/x-icon">
        <!-- Vendor CSS Files -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
              rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
              rel="stylesheet">
        <!-- Template Main CSS File -->
        <link rel="stylesheet" href="/css/error.css">
        <!-- Vendor JS Files -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <title>Mini Room</title>
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header class="center">
            <nav class="navbar navbar-grid">
                <div>
                    <a class="navbar-brand align-center" href="/">
                        <img src="https://s3.amazonaws.com/www.miniroom.online/images/logo.png"
                             alt=""
                             class="d-inline-block align-text-top">
                        <span class="logo">Mini Room</span>
                    </a>
                </div>
                <!-- <div class="setting-container">
                    <img src="https://s3.amazonaws.com/www.miniroom.online/images/settings.png" alt=""/>
                </div> -->
                <a href="/member">
                    <div class="avatar-container">
                        <img src="https://s3.amazonaws.com/www.miniroom.online/images/avatar.png"
                             alt=""/>
                    </div>
                </a>
            </nav>
            <!-- .logo -->
        </header>
        <section class="hero flex-row-center">
            <h1 class="error-title">Sorry! The room code is invalid!</h1>
            <a href="/">
                <button type="button" class="btn btn-light">Back to home</button>
            </a>
        </section>
        <!-- End Header -->
    </body>
</html>
