<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- favicon -->
		<link
			rel="icon"
			href="https://s3.amazonaws.com/www.miniroom.online/images/favicon.ico"
			type="image/x-icon" />
		<!-- Vendor CSS Files -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet" />
		<link
			href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
			rel="stylesheet" />
		<!-- Template Main CSS File -->
		<link rel="stylesheet" href="/css/index.css" />
		<!-- Vendor JS Files -->
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script
			src="https://kit.fontawesome.com/8de498932c.js"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"></script>
		<title>Mini Room</title>
	</head>
	<body>
		<!-- Preloader -->
		<div id="indexPreloader" class="index-preloader"></div>
		<div id="preloader" class="preloader none"></div>
		<!-- ======= Header ======= -->
		<header class="center">
			<nav class="navbar navbar-grid">
				<div>
					<a class="navbar-brand align-center" href="/">
						<img
							src="https://s3.amazonaws.com/www.miniroom.online/images/logo.png"
							alt=""
							class="d-inline-block align-text-top" />
						<span class="logo">Mini Room</span>
					</a>
				</div>
				<!-- <div class="setting-container">
                    <img src="https://s3.amazonaws.com/www.miniroom.online/images/settings.png" alt=""/>
                </div> -->
				<div id="userDropdown" class="dropdown">
					<button
						id="userAuth"
						class="avatar-container center"
						type="button"
						aria-expanded="false">
						<img
							id="avatarImg"
							src="https://s3.amazonaws.com/www.miniroom.online/images/avatar.png"
							alt="" />
					</button>
					<ul id="userDropdownMenu" class="dropdown-menu">
						<li>
							<button class="dropdown-item" type="button">
								<div id="userProfile" class="user-profile">
									<div class="user-profile-avatar center">
										<img id="userProfileAvatarImg" />
									</div>
									<div
										id="userProfileName"
										class="user-profile-name left-center"></div>
								</div>
							</button>
						</li>
						<li>
							<button class="dropdown-item center" type="button">
								Shedule
							</button>
						</li>
						<li>
							<button
								id="authStatus"
								class="dropdown-item center"
								type="button">
								Log In / Sign Up
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<!-- .logo -->
		</header>
		<!-- End Header -->
		<!-- Modal -->
		<div
			class="modal fade"
			id="userModalContainer"
			tabindex="-1"
			aria-labelledby="userModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="userModalLabel">Join Us Now</h1>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div
							id="authSuccess"
							class="alert alert-success d-flex align-items-center none"
							role="alert">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
								viewBox="0 0 16 16"
								role="img"
								aria-label="Success:">
								<path
									d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
							</svg>
							<div id="authSuccessMsg"></div>
						</div>
						<div
							id="authFailed"
							class="alert alert-danger d-flex align-items-center none"
							role="alert">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
								viewBox="0 0 16 16"
								role="img"
								aria-label="Danger:">
								<path
									d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
							</svg>
							<div id="authFailedMsg"></div>
						</div>
						<form id="avatarForm" class="needs-validation">
							<div
								id="signUpAvatarContainer"
								class="sign-up-avatar-container center none">
								<div class="sign-up-avatar center">
									<img
										id="signUpAvatarImg"
										class="avatar-img"
										src="https://s3.amazonaws.com/www.miniroom.online/images/avatar.png" />
									<div class="change-avatar">
										<label
											for="avatarFileUpload"
											class="change-avatar-btn center">
											<i class="fa-solid fa-camera"></i>
										</label>
										<input
											id="avatarFileUpload"
											name="avatar"
											type="file"
											accept="image/*"
											class="none" />
									</div>
								</div>
							</div>
							<div id="signUpAvatarValid" class="valid-feedback">
								Looks good!
							</div>
							<div id="signUpAvatarInvalid" class="invalid-feedback">
								there are something wrong while avatar image is uploading!
							</div>
							<div id="signUpAvatarHelp" class="form-text sign-up-avatar-help">
								Avatar image is only allowed to be these file types: [jpeg, jpg,
								png], and the file size must be less than 5MB!
							</div>
							<div id="usernameContainer" class="mb-3 none">
								<label for="username" class="form-label">User Name</label>
								<input
									id="username"
									type="text"
									class="form-control"
									maxlength="20" />
								<div class="valid-feedback">Looks good!</div>
								<div class="invalid-feedback">
									name is not allowed to be empty!
								</div>
							</div>
							<div id="emailContainer" class="mb-3">
								<label for="email" class="form-label">Email address</label>
								<input
									id="email"
									type="email"
									class="form-control"
									aria-describedby="emailHelp" />
								<div class="valid-feedback">Looks good!</div>
								<div class="invalid-feedback">email must be a valid email!</div>
								<div id="emailHelp" class="form-text">
									We'll never share your email with anyone else.
								</div>
							</div>
							<div id="passwordContainer" class="mb-3">
								<label for="password" class="form-label">Password</label>
								<input
									id="password"
									type="password"
									class="form-control"
									minlength="6"
									maxlength="30"
									autocomplete="on" />
								<div class="valid-feedback">Looks good!</div>
								<div class="invalid-feedback">
									password word length must be at least 6 characters long!
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="change-auth">
							<div id="loginContainer">
								Already have an account?
								<a id="logIn" class="login">Login now!</a>
							</div>
							<div id="signUpContainer" class="none">
								Don't have an account?
								<a id="signUp" class="sign-up">Sign Up now!</a>
							</div>
						</div>
						<button
							id="userModalCloseBtn"
							type="button"
							class="btn btn-secondary none"
							data-bs-dismiss="modal">
							Close
						</button>
						<button id="logInBtn" type="button" class="btn btn-primary">
							<span
								id="logInPreloader"
								class="spinner-border spinner-border-sm none"
								role="status"
								aria-hidden="true"></span>
							<span id="logInBtnContent">Log In</span>
						</button>
						<button id="signUpBtn" type="button" class="btn btn-primary">
							<span
								id="signUpPreloader"
								class="spinner-border spinner-border-sm none"
								role="status"
								aria-hidden="true"></span>
							<span id="signUpBtnContent">Sign Up and Log In</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- ======= Hero Section ======= -->
		<section class="hero center">
			<div class="container">
				<!-- ======= row ======= -->
				<div class="row align-center">
					<div
						class="col-lg-6 left-contet"
						data-aos="fade-up"
						data-aos-delay="200">
						<h1>Ready For Your Meeting from any device</h1>
						<h2>We provide a room for your video confernce</h2>
						<div class="align-center">
							<div class="input-group">
								<!-- dropdown-button -->
								<button
									class="btn btn-outline-secondary dropdown-toggle drop-down-btn align-center"
									type="button"
									data-bs-toggle="dropdown"
									data-bs-auto-close="true"
									aria-expanded="false">
									<img
										src="https://s3.amazonaws.com/www.miniroom.online/images/video-plus.png"
										alt=""
										class="video-plus" />
									<span>New meeting</span>
								</button>
								<ul class="dropdown-menu">
									<!-- <li>
                                        <a class="dropdown-item" href=""><i class="fa-solid fa-link"></i>Create a meeting for later</a>
                                    </li> -->
									<li id="startBtn">
										<a class="dropdown-item"
											><i class="fa-solid fa-plus"></i>Start an instant
											meeting</a
										>
									</li>
									<!-- <li>
                                        <a class="dropdown-item" href=""><i class="fa-regular fa-calendar"></i>Schedule in Google Calendar</a>
                                    </li> -->
								</ul>
								<!-- input -->
								<input
									id="roomCodeInput"
									type="text"
									class="form-control"
									aria-label="Text input with dropdown button"
									placeholder="Enter a code or link" />
							</div>
							<button
								id="joinBtn"
								class="btn join-btn disable none"
								type="btn"
								disabled>
								Join
							</button>
						</div>
					</div>
					<div
						id="alert"
						class="alert alert-warning d-flex align-items-center alert-container none"
						role="alert">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
							viewBox="0 0 16 16"
							role="img"
							aria-label="Warning:">
							<path
								d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
						</svg>
						<div>The link or code may be invalid, please try again!</div>
					</div>
					<div
						class="col-lg-6 right-contet order-1 order-lg-2 hero-img aos-init aos-animate center"
						data-aos="zoom-in"
						data-aos-delay="200">
						<img
							src="https://s3.amazonaws.com/www.miniroom.online/images/hero-img.png"
							class="img-fluid animated"
							alt="" />
					</div>
				</div>
				<!-- /.row -->
			</div>
		</section>
		<!-- End Hero -->
	</body>
</html>
<!-- Template Main JS File -->
<script type="module" src="../js/index/index.js"></script>
<script type="module" src="../js/user/user.js"></script>
