<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/room.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
        <script src="https://kit.fontawesome.com/8de498932c.js" crossorigin="anonymous"></script>
        <script>
            const ROOM_ID = '<%= roomId %>';
        </script>
        <title>Room</title>
    </head>
    <body>
        <div id="videoGrid"></div>
    </body>
</html>
<script type="module" src="/js/room.js"></script>
