/** @format */

/**
 * --------------------------------------------------------------
 * # General
 * --------------------------------------------------------------
 */

@import "common.css";

.video-none {
	display: none !important;
}

.canvas {
	width: 100vw;
	height: 100vh;
}
