/*--------------------------------------------------------------
# Common (Element)
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600;700&display=swap");

@font-face {
	font-family: "color-emoji";
	src: local("Apple Color Emoji"), local("Segoe UI Emoji"),
		local("Segoe UI Symbol"), local("Noto Color Emoji");
	unicode-range: U+1F60A;
}

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
p {
	margin: 0;
	padding: 0;
	outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: "Jost", sans-serif;
}

textarea,
textarea:focus {
	border: 0;
	outline: 0;
	resize: none;
}

a {
	text-decoration: none;
}

li a {
	line-height: 50px;
}

button {
	font-family: "Jost", sans-serif;
}

/**
* --------------------------------------------------------------
* # Common (Scroll Bar Style)
* --------------------------------------------------------------
*/

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/**
* --------------------------------------------------------------
* # Common (Style)
* --------------------------------------------------------------
*/

.none {
	display: none !important;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-row-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.align-center {
	display: flex;
	align-items: center;
}

.left-center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.right-center {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.none {
	display: none;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal .modal-dialog {
	min-width: 550px !important;
}

.modal h1 {
	color: #000;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}

.preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #fff;
	border-top-color: #000;
	border-bottom-color: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Button Style
--------------------------------------------------------------*/
.circle-btn {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding: 8px;
	cursor: pointer;
}

.oval-btn {
	width: 100%;
	height: 100%;
	border-radius: 40px;
	padding: 8px 12px;
	cursor: pointer;
}

.btn-able {
	background-color: #3c4043;
}

.btn-able:hover {
	background-color: #4d5256;
}

.btn-disable {
	background-color: #ea4335;
}

.btn-disable:hover {
	background-color: #f44d44;
}

.main-btn-clicked {
	background-color: #176cf5 !important;
}

.side-btn-clicked {
	color: #8ab4f8 !important;
}

/*--------------------------------------------------------------
# Avatar Img Style
--------------------------------------------------------------*/
.avatar-img-width {
	min-width: 100%;
	max-width: 100%;
}

.avatar-img-height {
	min-height: 100%;
	max-height: 100%;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(20vh - 90px);
}