/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import "common.css";

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
p {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

body {
  position: relative;
  background: #202124;
}

video {
  outline: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Main Container
--------------------------------------------------------------*/
.main-container {
  display: grid;
  height: calc(100vh - 80px);
}

.main-middle {
  grid-template-columns: 0 auto;
}

.main-left-middle {
  grid-template-columns: 70% 30%;
}

.main-middle-right {
  grid-template-columns: 0 auto 360px;
}

.main-left-middle-right {
  grid-template-columns: calc(70% - 360px) 30% 360px;
}

.main-container .main-left {
  width: 100%;
}

.main-container .main-middle {
  width: 100%;
  height: 100%;
}

/* Screen Share */
.screen-share-container {
  min-width: 0;
  width: 100%;
  padding: 15px 30px;
}

.main-left .screen-share-content {
  width: 100%;
  height: 100%;
}

.main-left .screen-share {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  border-radius: 5px;
}

/* Video */
.main-middle .videos-container {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 15px 15px 15px;
}

.main-middle .more-videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, max-content));
  gap: 20px;
  width: 80vw;
}

.videos-container .offcanvas-open {
  right: 380px !important;
}

.videos-container .video-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.videos-container .two-self-video-container {
  position: absolute;
  bottom: 100px;
  right: 10px;
  z-index: 3;
  width: 244px !important;
  height: 142px !important;
  padding: 10px;
}

.videos-container .one-self-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #202124;
}

.videos-container .two-self-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #43454b;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.videos-container .two-other-item {
  position: relative;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  background-color: #43454b;
}

.videos-container .more-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #43454b;
}

.videos-container .name-tag {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 5px 20px;
}

.videos-container .video-rotate {
  object-fit: cover;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.videos-container .one-self-video {
  width: 85%;
}

.videos-container .video {
  width: 100%;
}

.videos-container .avatar-container {
  width: 100%;
  height: 100em;
}

.videos-container .avatar-content {
  width: 100%;
  height: 100%;
}

.videos-container .two-self-avatar {
  width: 4em;
  height: 4em;
  background-color: #2e2d2d;
  border-radius: 50%;
}

.videos-container .avatar {
  width: 10em;
  height: 10em;
  background-color: #2e2d2d;
  border-radius: 50%;
}

.videos-container .avatar-img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Offcanvas
--------------------------------------------------------------*/
.main-container .main-right {
  height: 100%;
}

.main-right .offcanvas-outlayer {
  width: 340px;
  height: calc(100vh - 120px);
  margin: 20px 0 0 20px;
  border-radius: 10px;
}

.offcanvas h5 {
  color: #000;
}

/*--------------------------------------------------------------
# Info Offcanvas
--------------------------------------------------------------*/
#infoOffcanvas .hint {
  font-weight: 700;
  margin-bottom: 30px;
}

#infoOffcanvas .room-path {
  width: 100%;
  margin-bottom: 30px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  outline: none !important;
  border: 0 !important;
}

#infoOffcanvas .copy-info-btn {
  border-radius: 5px;
  color: #0761f2;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  margin-bottom: 30px;
}

#infoOffcanvas .copy-info-btn:hover {
  color: #043e9b;
  background-color: #dde7f8;
}

/*--------------------------------------------------------------
# Participant Offcanvas
--------------------------------------------------------------*/
#participantOffcanvas .invite-participant,
#participantOffcanvas .search-participant-container,
#participantOffcanvas .participant-list-title {
  padding: 10px;
  margin-bottom: 30px;
}

#participantOffcanvas .search-participant {
  font-size: 16px;
  border: 1px solid rgb(89, 88, 88);
}

#participantOffcanvas .participant-list {
  overflow: scroll;
}

#participantOffcanvas .participant-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
}

#participantOffcanvas .participant-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #43454b;
}

#participantOffcanvas .participant-avatar-img {
  width: 100%;
  height: 100%;
}

#participantOffcanvas .participant-content {
  display: grid;
  align-items: center;
}

#participantOffcanvas .participant-name,
#participantOffcanvas .participant-role {
  padding: 0 10px;
}

#participantOffcanvas .participant-role {
  font-size: 13px;
  color: rgb(125, 125, 125);
}

#participantOffcanvas .media-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

#participantOffcanvas .mute-unmute-container,
#participantOffcanvas .play-stop-video-container {
  padding: 5px;
}

#participantOffcanvas .mute-unmute,
#participantOffcanvas .play-stop-video {
  padding: 5px;
  color: #43454b;
}

/*--------------------------------------------------------------
# Chat Offcanvas
--------------------------------------------------------------*/
#chatOffcanvas .offcanvas-body {
  overflow: hidden;
  height: calc(100% - 300px);
}

#chatOffcanvas .warning {
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  padding: 12px;
  margin: 12px;
  text-align: center;
}

#chatOffcanvas .message-container {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

#chatOffcanvas .message-input-container {
  position: relative;
  padding: 22px;
  height: 230px;
}

.message-container .message-content {
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin-bottom: 20px;
  gap: 10px;
  padding: 20px;
}
.message-container .self-message-content {
  justify-items: right;
}

.message-container .message {
  width: 60%;
  height: auto;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.message-container .self-message {
  background-color: #0761f2;
}

.message-container .other-message {
  background-color: #78787a;
}

.message-input-container .message-input {
  width: 100%;
  height: 100px;
  background-color: rgb(244, 244, 244);
  padding: 20px;
  border-radius: 20px;
}

.message-input-container .message-btns {
  display: grid;
  grid-template-columns: 48px 48px auto 48px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.message-input-container .send-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(244, 244, 244);
}

.message-input-container .send-msg-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #babcbd;
  font-size: 16px;
  padding: 12px 20px 12px 12px;
  background-color: rgb(244, 244, 244);
}

.message-input-container .send-msg-btn i {
  font-size: 24px;
}

.message-input-container .send-msg-btn-able {
  color: #1a73e8;
  cursor: pointer;
}

.message-input-container .send-btn:hover,
.message-input-container .send-msg-btn-able:hover {
  background-color: rgb(226, 224, 224);
}

/*--------------------------------------------------------------
# Tool Bar
--------------------------------------------------------------*/
.tool-bar {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 100vw;
  height: 80px;
}

.tool-bar .control-btns {
  display: grid;
  grid-template-columns: 250px auto;
  align-items: center;
}

.tool-bar i {
  color: #fff;
  font-size: 1rem;
}

.tool-bar .main-control-container {
  height: 40px;
}

.tool-bar .main-control {
  display: grid;
  grid-template-columns: repeat(3, 40px) 56px;
  gap: 20px;
  height: 100%;
}

.main-control .rotate {
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.tool-bar .side-control-container {
  height: 48px;
}

.tool-bar .side-control {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  height: 100%;
  margin-right: 50px;
}

.side-control .side-btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 12px;
  cursor: pointer;
}

.side-control .side-btn:hover {
  background-color: #272828;
}

.side-control i {
  font-size: 20px;
}

.tool-bar .participant-cnt {
  top: 20px !important;
  right: 80px !important;
  z-index: 99;
}
