/** @format */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import "common.css";

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
p {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}

body {
	position: relative;
	background: #202124;
}

video {
	outline: 0;
	object-fit: cover;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal .input-container {
	padding: 10px;
}

.modal .invite-list-container {
	max-height: 300px;
	overflow-y: scroll;
	padding: 10px 20px 10px 10px;
}

.modal .invite-list-item {
	margin-bottom: 10px;
}

.modal .invite-list-content {
	display: grid;
	grid-template-columns: calc(100% - 30px) 30px;
	align-items: center;
	border-radius: 50px;
	background-color: #c5c5c8;
	padding: 10px;
	word-wrap: break-word;
}

.modal .add-invite-list-btn {
	background-color: #76a5f1;
}

/*--------------------------------------------------------------
# Main Container
--------------------------------------------------------------*/
.main-container {
	display: grid;
	height: calc(100vh - 80px);
}

.main-left {
	grid-template-columns: 100% 0;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.main-left-right {
	grid-template-columns: auto 360px;
	justify-items: center;
	align-items: center;
}

.main-container .main-left-container {
	display: grid;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.main-container .main-left-videos {
	grid-template-rows: 0 100%;
}

.main-container .main-left-screen-share {
	grid-template-columns: 75% 25%;
}

/* Screen Share */
.main-container .screen-share-container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 15px 30px;
}

.main-container .screen-share-alert {
	position: absolute;
	top: 20px;
}

.main-container .screen-share-content {
	width: 100%;
	height: 100%;
}

.main-container .screen-share {
	width: auto;
	height: auto;
	border-radius: 10px;
}

.main-container .screen-share-video {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

/* Video */
.main-container .videos-container {
	width: 100%;
	height: calc(100vh - 80px);
	padding: 15px 15px 15px;
}

.main-container .more-videos-grid {
	display: grid;
	grid-auto-rows: 1fr;
	width: 80vw;
	height: 100%;
}

.main-container .screen-share-videos-grid {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(20%, 1fr));
	width: 100%;
	height: auto;
	max-height: 100%;
}

.main-container .screen-share-videos-grid-column {
	grid-template-columns: repeat(2, 1fr);
}

.videos-container .offcanvas-open {
	right: 380px !important;
}

.videos-container .video-container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.videos-container .two-self-video-container {
	position: absolute;
	bottom: 100px;
	right: 10px;
	z-index: 3;
	width: 244px !important;
	height: 142px !important;
	padding: 10px;
}

.videos-container .one-self-item {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.videos-container .two-self-item {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.videos-container .two-other-item {
	position: relative;
	width: 95%;
	height: 100%;
	border-radius: 10px;
	background-color: #43454b;
}

.videos-container .more-item {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #43454b;
}

.videos-container .name-tag {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	padding: 5px 20px;
}

.videos-container .video-rotate {
	object-fit: cover;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

.videos-container .one-self-video {
	width: 85%;
}

.videos-container .video {
	width: 100%;
	height: 100%;
}

.videos-container .one-self-avatar-container {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: #202124;
}

.videos-container .more-avatar-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #43454b;
}

.videos-container .avatar-content {
	width: 100%;
	height: 100%;
}

.videos-container .two-self-avatar {
	width: 4em;
	height: 4em;
	background-color: #2e2d2d;
	border-radius: 50%;
}

.videos-container .avatar {
	width: 10vw;
	height: 10vw;
	max-width: 10em;
	max-height: 10em;
	background-color: #2e2d2d;
	border-radius: 50%;
}

.videos-container .mic-status {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #202124;
	z-index: 5;
}

.videos-container .mic-status i {
	color: #fff;
}

/*--------------------------------------------------------------
# Offcanvas
--------------------------------------------------------------*/
.main-container .main-right-container {
	height: 100%;
}

.main-right-container .offcanvas-outlayer {
	width: 340px;
	height: calc(100vh - 120px);
	margin: 20px 0 0 20px;
	border-radius: 10px;
}

.offcanvas h5 {
	color: #000;
}

/*--------------------------------------------------------------
# Info Offcanvas
--------------------------------------------------------------*/
#infoOffcanvas .hint {
	font-weight: 700;
	margin-bottom: 30px;
}

#infoOffcanvas .room-path {
	width: 100%;
	margin-bottom: 30px;
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 5px;
	outline: none !important;
	border: 0 !important;
}

#infoOffcanvas .copy-info-btn {
	border-radius: 5px;
	color: #0761f2;
	cursor: pointer;
	padding: 10px;
	margin-bottom: 30px;
}

#infoOffcanvas .copy-info-btn:hover {
	color: #043e9b;
	background-color: #dde7f8;
}

/*--------------------------------------------------------------
# Participant Offcanvas
--------------------------------------------------------------*/
#participantOffcanvas .invite-participant,
#participantOffcanvas .search-participant-container {
	padding: 10px;
	margin-bottom: 30px;
}

#participantOffcanvas .participant-list-result {
	border-bottom: 1px solid rgb(168, 165, 165);
}

#participantOffcanvas .participant-list-title {
	padding: 10px;
}

#participantOffcanvas .search-participant {
	font-size: 16px;
	border: 1px solid rgb(89, 89, 89);
}

#participantOffcanvas .participant-list {
	position: relative;
	overflow: scroll;
	padding-top: 30px;
}

#participantOffcanvas .close-participant-list {
	position: absolute;
	right: 5px;
	top: 5px;
}

#participantOffcanvas .participant-container {
	display: grid;
	grid-template-columns: 40px calc(100% - 145px) 105px;
	justify-items: start;
	align-items: center;
	padding: 10px;
}

#participantOffcanvas .participant-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #969699;
}

#participantOffcanvas .participant-content {
	display: grid;
	align-items: center;
}

#participantOffcanvas .participant-name {
	padding: 0 10px;
}

#participantOffcanvas .media-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	justify-items: center;
	align-items: center;
	padding: 10px;
}

#participantOffcanvas .mute-unmute-container,
#participantOffcanvas .play-stop-video-container {
	padding: 5px;
}

#participantOffcanvas .mute-unmute,
#participantOffcanvas .play-stop-video {
	padding: 5px;
	color: #43454b;
}

/*--------------------------------------------------------------
# Chat Offcanvas
--------------------------------------------------------------*/
/* offcanvas header */
#chatOffcanvas .warning {
	background-color: rgb(244, 244, 244);
	border-radius: 8px;
	padding: 12px;
	margin: 12px;
	text-align: center;
}

/* offcanvas body */
#chatOffcanvas .offcanvas-body {
	overflow: hidden;
	height: calc(100% - 1000px);
}

#chatOffcanvas .offcanvas-body-emoji-active {
	height: calc(100% - 1200px);
}

#chatOffcanvas .message-container {
	width: 100%;
	max-height: 100%;
	overflow-y: scroll;
}

.message-container .message-content {
	display: grid;
	grid-template-rows: repeat(3, auto);
	gap: 15px;
	padding: 20px;
	margin-bottom: 5px;
}

.message-container .message-header {
	display: grid;
	grid-template-columns: 50px 200px;
	justify-items: start;
	align-items: center;
	gap: 10px;
}

.message-container .self-message-header {
	display: grid;
	grid-template-columns: 200px 50px;
	justify-items: end;
	align-items: center;
	gap: 10px;
}

.message-container .message-avatar {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #969699;
}

.message-container .self-message-content {
	justify-items: right;
}

.message-container .message {
	width: 60%;
	height: auto;
	word-wrap: break-word;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 19px;
	font-family: "color-emoji";
}

.message-container .file-message {
	width: 100%;
}

.message-container .self-message {
	background-color: #2e78f0;
}

.message-container .other-message {
	background-color: #78787a;
}

.message-container .message-file-icon {
	font-size: 32px !important;
	color: #010521;
}

.message-container .message-file-name {
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
}

.message-container .message-file-size {
	font-size: 13px;
	color: #000;
}

/* file share */
#chatOffcanvas .file-share-container {
	display: grid;
	grid-template-columns: 50px auto;
	align-items: center;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	background-color: #e8e8e8;
}

#chatOffcanvas .file-share-container i {
	font-size: 19px;
}

#chatOffcanvas .file-share-info {
	padding: 10px;
}

#chatOffcanvas .file-name {
	font-size: 16px;
}

#chatOffcanvas .file-size {
	font-size: 13px;
	color: rgb(89, 89, 89);
}

#chatOffcanvas .file-uploading {
	color: rgb(89, 89, 89);
}

#chatOffcanvas .error-msg {
	color: red;
	text-align: center;
	font-weight: 700;
}

/* message input and buttons control */
#chatOffcanvas .message-input-container {
	position: relative;
	padding: 22px;
	height: 230px;
}

#chatOffcanvas .message-input-container-emoji-active {
	height: 600px;
}

.message-input-container .message-input {
	width: 100%;
	height: 100px;
	background-color: rgb(244, 244, 244);
	padding: 20px;
	border-radius: 20px;
	font-weight: 400;
	font-family: "color-emoji";
}

.message-input-container .message-btns {
	display: grid;
	grid-template-columns: 48px auto 48px;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

/* emoji */
.message-input-container > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	right: 300px;
	bottom: 120px;
}

.message-input-container > ul li {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 1rem;
	overflow: hidden;
}

.message-input-container .emoji-selector {
	background-color: white;
	border-radius: 1rem;
	cursor: default;
	display: block;
	padding: 0;
	border: 1px solid #eee;
	position: absolute;
	bottom: 0%;
	width: 270px;
	height: 350px;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	overflow: auto;
	transition: bottom 0.3s ease, opacity 0.3s ease;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.message-input-container .active {
	bottom: 110%;
	opacity: 1;
	pointer-events: all;
}

.message-input-container .emoji-search-container {
	padding: 1rem;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 5;
}

.message-input-container .emoji-search {
	border-radius: 25px;
	border: 1px solid #eee;
	width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	margin-top: 10px;
}

.message-input-container .emoji-list {
	width: 260px;
	height: 220px;
	overflow: scroll;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 1rem 1rem;
	border-radius: 0;
}

.message-input-container .emoji-list li {
	height: 35px;
	width: 35px;
	border-radius: 0.25rem;
	font-size: 1.5rem;
	font-family: "color-emoji";
}

.message-input-container .send-btn {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	padding: 12px;
	font-size: 16px;
	cursor: pointer;
	background-color: rgb(244, 244, 244);
}

.message-input-container .send-msg-btn {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	color: #babcbd;
	font-size: 16px;
	padding: 12px 20px 12px 12px;
	background-color: rgb(244, 244, 244);
}

.message-input-container .send-msg-btn i {
	font-size: 24px;
}

.message-input-container .send-msg-btn-able {
	color: #1a73e8;
	cursor: pointer;
}

.message-input-container .send-btn:hover,
.message-input-container .send-msg-btn-able:hover {
	background-color: rgb(226, 224, 224);
}

/*--------------------------------------------------------------
# Tool Bar
--------------------------------------------------------------*/
.tool-bar {
	display: grid;
	grid-template-columns: 40% 60%;
	width: 100vw;
	height: 80px;
}

.tool-bar .meeting-room-info {
	padding: 0 20px;
}

.tool-bar .clock {
	min-width: 120px;
	color: #fff;
	padding: 10px;
	border-right: 1px solid #fff;
}

.tool-bar .meeting-room-id {
	min-width: 230px;
	color: #fff;
	padding: 10px 20px;
	word-wrap: break-word;
}

.tool-bar .control-btns {
	display: grid;
	grid-template-columns: 300px auto;
	align-items: center;
}

.tool-bar i {
	color: #fff;
	font-size: 1rem;
}

.tool-bar .is-recording {
	color: #ea4335;
}

.tool-bar .main-control-container {
	height: 40px;
}

.tool-bar .main-control {
	display: grid;
	grid-template-columns: repeat(4, 40px) 56px;
	gap: 20px;
	height: 100%;
}

.main-control .rotate {
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.tool-bar .side-control-container {
	height: 48px;
}

.tool-bar .side-control {
	display: grid;
	grid-template-columns: repeat(3, 48px);
	height: 100%;
	margin-right: 50px;
}

.side-control .side-btn {
	width: 100%;
	height: 100%;
	border-radius: 50px;
	padding: 12px;
	cursor: pointer;
}

.side-control .side-btn:hover {
	background-color: #272828;
}

.side-control i {
	font-size: 20px;
}

.side-control .participant-offcanvas-btn-container,
.side-control .chat-offcanvas-btn-container {
	position: relative;
}

.side-control .chat-badage {
	top: 10px !important;
	right: 0 !important;
	padding: 0.3rem !important;
}

.side-control .participant-cnt {
	top: 0 !important;
	right: 0 !important;
}

/*--------------------------------------------------------------
# Notify
--------------------------------------------------------------*/
.invite-notify,
.leave-room-notify {
	position: fixed;
	padding: 20px 40px 20px 20px;
	background-color: #43454b;
	color: #fff;
	z-index: 999;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
	opacity: 0;
}

.join-room-notify {
	position: fixed;
	background-color: #43454b;
	color: #fff;
	z-index: 999;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
	opacity: 0;
}

.invite-notify {
	left: 20px;
	bottom: 140px;
}

.leave-room-notify {
	left: 20px;
	bottom: 190px;
}

.join-room-notify {
	display: grid;
	grid-template-columns: 100px auto;
	left: 20px;
	top: 140px;
}

.invite-notify-active,
.leave-room-notify-active,
.join-room-notify-active {
	opacity: 1;
}

.join-room-notify .join-room-avatar-container {
	background-color: #6d6e71;
	padding: 10px;
}

.join-room-notify .join-room-avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #43454b;
}

.join-room-notify .join-room-content {
	padding: 10px 30px 10px 10px;
}

/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/
@media (max-width: 2000px) {
	.main-container .main-left-screen-share {
		grid-template-columns: 100%;
		grid-template-rows: 50% 50%;
	}

	.main-container .screen-share-videos-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
		grid-template-rows: none;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.main-container .screen-share-videos-grid-column {
		grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(10vh, 1fr));
	}

	.main-container .screen-share {
		height: 100%;
	}
}
