/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import "common.css";

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
p {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

textarea,
textarea:focus {
  border: 0;
  outline: 0;
  resize: none;
}

body,
video {
  position: relative;
  background: #202124;
}

/*--------------------------------------------------------------
# Main Container
--------------------------------------------------------------*/
.main-container {
  height: calc(100vh - 80px);
}

.main-container-grid {
  display: grid;
  grid-template-columns: auto 360px;
}

.main-container .main-left {
  width: 100%;
  height: 100%;
}

.main-left .videos-container {
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px;
}

.main-left .more-videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, max-content));
  gap: 20px;
}

.videos-container .offcanvas-open {
  right: 380px;
}

.videos-container .video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.videos-container .two-self-video-container {
  position: absolute;
  bottom: 100px;
  right: 10px;
  z-index: 3;
  width: 234px !important;
  height: 132px !important;
}

.videos-container .self-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.videos-container .two-other-item {
  position: relative;
  width: 95%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}

.videos-container .more-item {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}

.videos-container .name-tag {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 5px 20px;
}

.videos-container .video-rotate {
  object-fit: cover;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.videos-container .one-self-video {
  width: 85%;
  height: 100%;
}

.videos-container .video {
  width: 100%;
}

/*--------------------------------------------------------------
# Offcanvas
--------------------------------------------------------------*/
.main-container .main-right {
  height: 100%;
}

.main-right .offcanvas-outlayer {
  position: static !important;
  width: 340px;
  height: calc(100% - 20px);
  margin: 20px 0 0 20px;
  border-radius: 10px;
}

.offcanvas h5 {
  color: #000;
}

/*--------------------------------------------------------------
# Chat Offcanvas
--------------------------------------------------------------*/
#chatOffcanvas .offcanvas-body {
  overflow: hidden;
  max-height: calc(100% - 270px);
}

#chatOffcanvas .warning {
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  padding: 12px;
  margin: 12px;
  text-align: center;
}

#chatOffcanvas .message-container {
  max-height: 100%;
  overflow-y: scroll;
}

#chatOffcanvas .message-input-container {
  position: relative;
  padding: 22px 12px 5px 12px;
}

.message-container .message {
  margin-bottom: 12px;
  padding: 10px;
}

.message-input-container textarea {
  width: 100%;
  background-color: rgb(244, 244, 244);
  padding: 0 60px 0 12px;
  line-height: 48px;
}

.message-input-container .message-input {
  min-height: 48px;
  border-radius: 50px;
}

.message-input-container .send-msg-btn {
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 3;
  right: 12px;
  bottom: 5px;
  border-radius: 50%;
  color: #babcbd;
  padding: 12px;
  background-color: rgb(244, 244, 244);
}

.message-input-container .send-msg-btn i {
  font-size: 24px;
}

.message-input-container .send-msg-btn-able {
  color: #1a73e8;
  cursor: pointer;
}

.message-input-container .send-msg-btn-able:hover {
  background-color: rgb(244, 244, 244);
}

/*--------------------------------------------------------------
# Tool Bar
--------------------------------------------------------------*/
.tool-bar {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 100vw;
  height: 80px;
}

.tool-bar .control-btns {
  display: grid;
  grid-template-columns: 250px auto;
  align-items: center;
}

.tool-bar i {
  color: #fff;
  font-size: 1rem;
}

.tool-bar .main-control-container {
  height: 40px;
}

.tool-bar .main-control {
  display: grid;
  grid-template-columns: repeat(3, 40px) 56px;
  gap: 20px;
  height: 100%;
}

/* .main-control .circle-btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 8px;
  cursor: pointer;
}

.main-control .oval-btn {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  padding: 8px 12px;
  cursor: pointer;
}

.main-control .btn-able {
  background-color: #3c4043;
}

.main-control .btn-able:hover {
  background-color: #4d5256;
}

.main-control .btn-disable {
  background-color: #ea4335;
}

.main-control .btn-disable:hover {
  background-color: #f44d44;
} */

.main-control .rotate {
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.tool-bar .side-control-container {
  height: 48px;
}

.tool-bar .side-control {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  height: 100%;
  margin-right: 50px;
}

.side-control .side-btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 12px;
  cursor: pointer;
}

.side-control .side-btn:hover {
  background-color: #272828;
}

.side-btn-clicked {
  color: #8ab4f8 !important;
}

.side-control i {
  font-size: 20px;
}
