/**
 * --------------------------------------------------------------
 * # General
 * --------------------------------------------------------------
 *
 * @format
 */

@import "common.css";

.thankyou-container {
	display: grid;
	grid-template-rows: 20vh 40vh 20vh;
	justify-items: center;
	align-items: center;
	background-color: rgb(2, 60, 81);
	height: 80vh;
}

.thankyou-container h1 {
	color: #fff;
}

.thankyou-container .hero-img {
	width: 40vw;
	max-width: 100%;
	height: auto;
	max-height: 40vh;
	margin: 0 50px;
}

.thankyou-container button {
	font-size: 28px;
	color: #fff;
}
