/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import "common.css";

.thankyou-container {
	display: grid;
	grid-template-rows: 20vh 40vh 20vh;
	justify-items: center;
	align-items: center;
	background-color: rgb(2, 60, 81);
	height: 80vh;
}

.thankyou-container h1 {
	color: #fff;
}

.thankyou-container button {
	font-size: 28px;
	color: #fff;
}
