/** @format */

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
	background-color: rgb(240, 239, 239);
}

.navbar {
	width: 1200px;
}

.navbar-grid {
	display: grid;
	grid-template-columns: 90% 5% 5%;
}

nav .navbar-brand {
	width: 225px;
}

nav .navbar-brand .logo {
	color: rgb(20, 55, 101);
	padding: 10px;
	font-size: 30px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
}

nav .navbar-brand img {
	width: 50px;
	height: 50px;
}

nav .setting-container {
	width: 37px;
	height: 37px;
}

nav .avatar-container {
	width: 48px;
	height: 48px;
	border: none;
	background-color: #969699;
	overflow: hidden;
	cursor: pointer;
	border-radius: 50%;
}

nav .avatar-container:hover {
	opacity: 0.7;
}

nav .avatar-container img {
	cursor: pointer;
	min-width: 48px;
}

/*--------------------------------------------------------------
# User Dropdown Menu
--------------------------------------------------------------*/
#userDropdownMenu .user-profile {
	display: grid;
	grid-template-columns: 48px auto;
	align-items: center;
	height: 70px;
	border-bottom: 1px solid #000;
}

#userDropdownMenu .user-profile-avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #969699;
	cursor: pointer;
	overflow: hidden;
}

#userDropdownMenu .user-profile-avatar img {
	width: 100%;
}

#userDropdownMenu .user-profile-name {
	font-size: 19px;
	padding: 15px;
}

/*--------------------------------------------------------------
# User Modal
--------------------------------------------------------------*/
.modal .sign-up-avatar-container {
	position: relative;
	margin-bottom: 20px;
}

.modal .sign-up-avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #969699;
}

.modal .sign-up-avatar-container .avatar-img {
	min-width: 100%;
}

.modal .sign-up-avatar-container .change-avatar {
	position: absolute;
	right: 160px;
	bottom: 0;
	cursor: pointer;
}

.modal .sign-up-avatar-container .change-avatar:hover {
	color: #3c3c3d;
}

.modal .sign-up-avatar-container .change-avatar-btn {
	width: 50px;
	height: 50px;
	padding: 5px;
	border-radius: 50%;
	background-color: #70a9a1;
	cursor: pointer;
}

.modal .sign-up-avatar-container i {
	cursor: pointer;
	font-size: 19px;
}

.modal .sign-up-avatar-help {
	margin-bottom: 30px;
}

.modal .change-auth {
	position: absolute;
	left: 10px;
	width: auto;
}

.modal .sign-up,
.modal .login {
	cursor: pointer;
}

.modal .sign-up:hover,
.modal .login:hover {
	color: blue;
	text-decoration: underline;
}
