<header class="center">
	<nav class="navbar navbar-grid">
		<div>
			<a class="navbar-brand align-center" href="/">
				<img
					src="https://dpd6ot08xcncs.cloudfront.net/images/logo.png"
					alt=""
					class="d-inline-block align-text-top" />
				<span class="logo">Mini Room</span>
			</a>
		</div>
		<div id="userDropdown" class="dropdown">
			<button
				id="userAuth"
				class="avatar-container center"
				type="button"
				aria-expanded="false">
				<img
					id="avatarImg"
					name="avatarImg"
					src="https://dpd6ot08xcncs.cloudfront.net/avatars/avatar.png"
					alt="" />
			</button>
			<ul id="userDropdownMenu" class="dropdown-menu">
				<li>
					<button id="userProfileBtn" class="dropdown-item" type="button">
						<div id="userProfile" class="user-profile">
							<div class="user-profile-avatar center">
								<img id="userProfileAvatarImg" name="avatarImg" />
							</div>
							<div
								id="userProfileName"
								class="user-profile-name left-center"></div>
						</div>
					</button>
				</li>
				<li>
					<button id="authStatus" class="dropdown-item center" type="button">
						Log In / Sign Up
					</button>
				</li>
			</ul>
		</div>
	</nav>
</header>
